@use 'shared';
@use 'borderRound';

.functions {
  position: sticky;
  display: flex;
  width: 110vw;
  height: 40px;
  left:50%;
  background-color: shared.$backgroundColor;
  font-family: shared.$fontFamily;
  overflow: hidden;
  -webkit-align-content: center;
  padding-left:6vw;
  padding-right:6vw;
  margin-left:-5vw;
  vertical-align: center;
  padding-bottom:10px;
  border-bottom: shared.$accent1 10px solid;
  margin-bottom: 0;

  h2{
    padding:0;
    margin:0;
  }
}

.navbar-search{
  position:absolute;
  left:50%;
  top:10px;
  width:50vw;
  height:10vw;
  color: shared.$accent1;
  td{
    width:48%;
    padding:1%;
    margin-left:5%;
    vertical-align: bottom;
  }
  input{
    width:98%;
    margin: 0 1%;
    background-color: shared.$backgroundColor;
    color: shared.$fontColor;
    border-color: shared.$fontColor;
  }

  input::placeholder{
    color: shared.$fontColor;
  }
  padding:0;
  margin:0;
}

#tabsHolder{
  background-color: shared.$backgroundColor;
  height:30px;
  width:100%;
  padding:0;
  margin:0;
  overflow: hidden;
}

#tabsHolder table{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
}
#tabsHolder td{
  border-radius: 1dvw;
  border-style:solid;
  border-width:1px;
  font-family: shared.$fontFamily2nd;
  color: shared.$fontColor;
  padding:5%;
  height: 30px;
  margin:0;
  width:10dvw;
  text-align: left;
  vertical-align: top;
}
